* {
	margin: 0px;
	padding: 0px;

	z-index: 10;
}

body {
	margin: 0px;
	padding: 0px;

	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 14px;
	color: #3a3a3c; /*grey from logo*/
}

h1 {
	font-size: 28px;
	font-weight: normal;
	color: #6992a2;/*color: #0f75bc; /*blue from logo*/
}

h2 {
	font-size: 20px;
	font-weight: normal;
	color: #6992a2;/*color: #0f75bc; /*blue from logo*/
}

h3 {
	font-size: 16px;
	font-weight: normal;
	color: #6992a2; /*color: #0f75bc; /*blue from logo*/
}

h4 {
	font-size: 16px;
	font-weight: normal;
	color: #3a3a3c; /*blue from logo*/
}

a {
	text-decoration: none;
	color: #0f75bc;
}

#page {
	width: 960px;

	margin: 0px auto;

	position: relative;

	top: 20px;
}

header {
	width: 960px;
	height: 140px;

	margin: 0px 0px;
}

#logo {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;

	background-color: #ffffff;

	float: left;
}

#teamphoto {
	height: 200px;

	width: 620px;

	
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;

	float: right;
}

#main-menu {
	width: 688px;
	height: 140px;

	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;

	padding: 0px;

	background-image: url("../img/line_grey_140.png");
	background-repeat: repeat-x;

	display: block;
	float: right;

	/*background-color: #0f75bc; /*blue*/
}

#main-menu ul {
	width: 624px;
	height: 140px;

	display: block;
	float: right;

	list-style: none;
}


#main-menu .menu-element {
	width: 108px;
	height: 140px;

	margin: 0px;
	padding: 0px 2px;

	display: block;
	float: left;


	/*background-color: #0f75bc;*/
}

#main-menu .menu-element a {
	width: 106px;
	height: 140px;

	margin: 0px;

	/*border-top: 1px solid #89a5c9;
	border-right: 1px solid #445281;
	/*border-bottom: 1px solid #344251;*/
	/*border-left: 1px solid #5482c1; /*#89a5c9;*/

	display: block;
	float: left;

	font-size: 15px;
	font-weight: normal;
	color: #3a3a3c;
	text-decoration: none;
	text-align: center;
}

#main-menu .menu-element-active a {
	/*border-top: 1px solid #4f4f4f;
	border-right: 1px solid #000000;
	/*border-bottom: 1px solid #000000;
	border-left: 1px solid #4f4f4f;

	/*background-color: #0f75bc;*/

	/*background-color: #3a3a3c;*/

	background-image: url("../img/line_blue_plus2_140.png");
}

#main-menu .menu-element:hover a {
	/*border-left: 1px solid #111111;*/

	/*background-color: #282828;*/

	/*background-color: #2a2a2c;*/

	background-image: url("../img/line_blue_plus2_140.png");

	color: #0f75bc;
}

/*#main-menu .menu-element-active:hover {
	border-top: 1px solid #89a5c9;
	border-right: 1px solid #344251;
	border-bottom: 1px solid #344251;
	border-left: 1px solid #89a5c9;

	background-color: #6681a2;
}*/

#main-menu .menu-element-text {
	width: 86px;

	position: relative;

	top: 52px;
	left: 0px;

	/*opacity: 0.8;*/
}

#content {
	width: 960px;

	margin-top: 36px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
} 

#content > * {
	margin: 10px 10px;
}


#content > h1 {
	margin: 20px 10px;
}

#content > section {
	margin: 20px 10px;
	line-height: 18px;
}

#content > img {
	margin: 0px 10px;
}

#content > * p {
	margin: 10px 0px;
}

#content > * h2 {
	margin: 10px 0px;
}

#content > * h3 {
	margin: 10px 0px;
}

#content ul {
	list-style-position: inside;
}

#content a:hover {
	text-decoration: underline;
}


footer {
	width: 960px;
	height: 140px;
	margin: 0px auto;

	float: left;
	text-align: center;

	background-image: url("../img/line_grey_140.png");
	background-repeat: repeat-x;
}

footer a:hover {
	text-decoration: underline;
}

#footer-text {
	width: 300px;
	height: 140px;
	margin: 0px auto;

	text-align: center;

	background-image: url("../img/line_blue_plus2_140.png");
	background-repeat: repeat-x;
}


#footer-text > * {
	position: relative;
	top: 92px;
}


/*
 * HELPERS
 */

 #clearer {
	float: clear;
 }